:root {
    --paragraf-text-color: #434455;
    --accent-color: #ffffff;
    --accent-focus: #4D5AE5;
    --tittle-body-color: #2e2f42;
    --button-color: #f4f4fd;
    --logo-accent: #000000;
    --second-color: #e7e9fc;
    --green-hover-color: #31D0AA;
    --hover-focus-color: #404bbf;
    --grei-color: #8E8F99;
    --time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
    background-color: var(--accent-color);
    color: var(--tittle-body-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.hero-button {
    color: var(--accent-color);
    background: var(--accent-focus);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 59px;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.hero {
    max-width: 1440px;
    height: 600px;
    background: cover;
    margin: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg)
}

.hero-h {

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.logo-link {
    color: var(--logo-accent);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    font-family: "Raleway", sans-serif;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover,
.logo-link:focus {
    color: var(--accent-focus);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.log {
    color: var(--accent-focus);
}

.logo-f:active {
    color: var(--accent-focus);
}

.logo-f {
    margin-bottom: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakt-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraf-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakt-nav:hover,
.contakt-nav:focus,
.contakt-nav.current {
    color: var(--accent-focus);
}

.contakt-link:hover,
.contakt-link:focus,
.contakt-link:active {
    color: var(--accent-focus);
}

.contakt-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--tittle-body-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.site-button {
    background: var(--second-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    color: var(--accent-focus);
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto";
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.site-button:hover,
.site-button:focus {
    color: var(--accent-color);
    background-color: var(--accent-focus);
}

.background {
    background-color: var(--second-color);
}

.site-button:active {
    background-color: var(--accent-focus);
    color: var(--accent-color);

}

.title-ferst {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--tittle-body-color);
}

.title-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--tittle-body-color);
    margin-bottom: 8px;

}

.title-p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--tittle-body-color);
    margin-bottom: 8px;
    margin-top: 8px;

}

.paragraf:not(:last-child) {
    margin-right: 24px;

}

.paragraf {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraf-text-color);
    margin-bottom: 8px;
}

.footer {
    background-color: var(--tittle-body-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-f {
    color: var(--button-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    font-family: "Raleway", sans-serif;
    width: 264px;
    margin-bottom: 16px;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.logo-f:hover,
.logo-f:focus {
    color: var(--accent-focus);
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
    margin-top: 0;
    margin-bottom: 0;

}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.container-header {

    display: flex;
    align-items: center;
}

.title-ferst {
    text-align: center;
    margin-bottom: 72px;

}

.title:not(:last-child) {
    margin-right: 24px;
}

.title {
    box-sizing: border-box;

}

.header-navigation {
    display: flex;
    align-items: center;
}

.logo-link {
    margin-right: 76px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list {
    display: flex;
    margin: auto;

}

.header-contact:not(:last-child) {
    margin-right: 40px;
}

.contakt-link {}


.adress {
    margin-left: auto;
}

.contact-link link {
    margin-left: auto;
}

.mail {
    margin-right: 40px;
}

.adress {
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;

}

.our-team .backgraund {
    background-color: #f4f4fd;

}

.our-team {}

.we-doing {
    flex-basis: calc((100%-48px)/3);
}

.what-wedoing {
    display: flex;
    padding-bottom: 120px;
}

.list-portfolio:not(:nth-last-child(-n+3)) {
    margin-bottom: 48px;
}

.team:not(:nth-child(4n)) {
    margin-right: 24px;
}

.team {
    flex-basis: calc((100%-48px)/4);
    /* box-shadow: rgba(46, 47, 66, 0.08),
        rgba(46, 47, 66, 0.16); */
}

.button-portfolio {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.button-portfolio:not(:last-child) {
    margin-right: 24px;
}

.border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--second-color);

    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--second-color);

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--second-color);
}

.card {}

.btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 72px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.tit-par {
    text-align: center;
    background-color: var(--accent-color);
    padding-top: 32px;
    padding-bottom: 32px;
}

.button-port {
    padding-top: 96px;
    padding-bottom: 120px;
}

.tit-paragraf {
    padding: 32px 16px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--second-color);

    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--second-color);

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--second-color);
}

.list-portfolio:nth-child(3n) {
    margin-right: 0;
}

.list-portfolio {
    margin-right: 24px;
    margin-bottom: 48px;
    display: block;
}

.wrap:hover,
.wrap:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.wrap {
    transition-duration: 250ms;
}




.list-portfolio:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
}

.social-list {
    padding-top: 16px;
}




.item {}



.footer-social {
    display: flex;
    /* flex-direction: column; */

}

.section-customers {
    padding-top: 120px;
    padding-bottom: 130px;
    /* display: block; */

}

.foot-soc {
    display: flex;
}

.soc-link {
    display: flex;
    color: #e7e9fc;

}

.social {
    display: flex;
    padding-left: 16px;
}

.icons {

    display: flex;
    margin-top: 8px;
    margin-bottom: 32px;

}

.mark {
    gap: 24px;
}

.title::before {
    content: "";
    display: block;
    height: 112px;
    background-color: var(--button-color);

    background-size: 64px 64px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-delivery::before {
    background-image: url(../images/icons.svg/anten.svg);

}

.icon-clock::before {
    background-image: url(../images/icons.svg/clock1.svg);
}

.icon-comp::before {
    background-image: url(../images/icons.svg/diag.svg);
}

.icon-astronaut::before {
    background-image: url(../images/icons.svg/astron.svg);
}


.customers {
    margin-bottom: 72px;
    text-align: center;
}



/* ////Footer////// */

.foot-soc {
    display: flex;
}

.coc-link {
    display: flex;

}

.soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.soc-list-item {
    width: 40px;
    height: 40px;
}

.soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-focus);
}

/* ////CUSTOMERS*/
.icon-cust {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition: border-color(var(--time));
}


.list {}

.icon {
    width: 104px;
    height: 56px;
    fill: currentColor;
}

.customers-list {
    display: flex;
    gap: 24px;
}

.link-cust {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--grei-color);
    color: var(--grei-color);
    border-radius: 4px;
    transition-duration: 250ms;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link-cust:hover,
.link-cust:focus {
    border-color: var(--hover-focus-color);
    color: var(--hover-focus-color);
}

.link-cust:hover .icon,
.link-cust:focus .icon {
    fill: var(--hover-focus-color);
}

.icon-cust {
    width: calc((100%-120px)/6);
    height: 88px;
    list-style: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.soc-link:hover,
.soc-link:focus {
    background-color: var(--hover-focus-color);
}

.soc-icon-footer {

    display: flex;
    transition: background-color var(--time);

}

.soc-link-footer {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255 255 255 0, 2);
    width: 40px;
    height: 40px;
    background-color: #434455;
    transition: background-color var(--time);
    transition-duration: 250ms;
}



.soc-link-footer:hover,
.soc-link-footer:focus {
    background: var(--green-hover-color);
}

.foot-tit {
    color: #ffffff;
    display: block;
    font-weight: 500;
    margin-bottom: 16px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    transition-duration: 250ms;
    transition: color var(--time), background-color var(--time);

}

.foot-tit:hover,
.foot-tit:focus {

    color: rgba(231, 233, 252, 1);
    transition-duration: 250ms;
}

.social {
    display: block;
}

.soc-list-footer {
    displey: flex;
}



.foot {}


.footer-par {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-color);
    font-weight: 400;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 264px;
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition-duration: 250ms;


}

.footer-par:hover,
.footer-par:focus {
    color: rgba(231, 233, 252, 1);
}

.footer-erst {

    display: flex;

}

.oll-footer {
    display: flex;

}

.container-foot {
    margin-right: 120px;
}



.footer-container {

    display: flex;
}

.logo-box {
    margin-right: 120px;
}

.soc-list {
    display: flex;
}

.team {
    background: var(--accent-color);
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%),
        0px 1px 1px rgb(46 47 66 / 16%),
        0px 2px 1px rgb(46 47 66 / 8%);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}

/*---- PORTFOLIO HOVER */


.list-portfolio {
    cursor: pointer;
    position: relative;
    display: block;
}

.tit-paragraf:hover,
.tit-paragraf:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition-duration: 250ms;
}

.title-portfolio:hover,
.title-portfolio:focus {
    color: #868686;
    transition-duration: 250ms;
}

.list-portfolio:hover,
.list-portfolio:focus {

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transition-duration: 250ms;
}

.button-portfolio:hover,
.button-portfolio:focus {

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition-duration: 250ms;
}

.schadow {}

.tit-paragraf {}


.img-portfolio {
    display: block;
    max-width: 100%;
    height: auto;

}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}



.contakt-nav:hover::after,
.contakt-nav:focus::after,
.contakt-nav.current:active::after {
    content: "";
    color: inherit;
    align-items: baseline;
    display: block;
    background: var(--hover-focus-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0px;
    top: 48px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

}

.contakt-nav.current::after {

    content: "";
    color: inherit;
    align-items: baseline;
    display: block;
    background: var(--hover-focus-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0px;
    top: 48px;
    transform: translatey(-100%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact {
    position: relative;
}


/* ------------TEST----------------- */
.box-text {

    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4D5AE5;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    position: relative;
    overflow: hidden;
}

.box-text:hover .thumb-text {
    transform: translatex(0);
    transition-duration: 250ms;
}

.thumb-text {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3f51b5;

    transform: translatexy(0, 100%);
    transition: transform 250ms ease;
}

.thumb-text>p {
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 18px;
}

.overlay {
    position: absolute;
    background-color: var(--accent-focus);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-blend-mode: soft-light;
    mix-blend-mode: normal;
    color: rgba(244, 244, 253, 1);
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding-left: 32px;
    padding-top: 40px;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform var(--time);


}

.overlay-wraper {
    position: relative;
    overflow: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

}

.list-portfolio:hover .overlay,
.list-portfolio:focus .overlay {
    transform: translate(0, 0);
}

/* -------js Window--------- */
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 100;
    transition-duration: 1000ms;
}

.icon-modal {}

.backdrop.is-hidden {

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(46, 47, 66, 0.4);

}

.modal {
    position: absolute;
    width: 408px;
    min-height: 576px;
    left: 50%;
    top: 50%;
    background-color: #FCFCFC;
    transform: translate(-50%, -50%);
    padding: 24px;
    padding-top: ;

}

.modal-close-btn {

    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    margin-left: auto;
    background-color: transparent;
    border: 1px solid var(--grei-color);
    padding: 0;
    border-radius: 50%;
    background-color: var(--second-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--second-color); */

}

.modal-close-btn:hover,
.modal-close-btn:focus {

    fill: var(--accent-color);
    background-color: var(--hover-focus-color);
}

.icon-modal {
    width: 8px;
    height: 8px;
    justify-content: center;
    align-content: center;
    position: absolute;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


/* ---------DZ---6-------Modal-window */
.drop-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #2E2F42;
}


.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-input:focus+.modal-form-input-icon .drop-icon {
    fill: var(--accent-focus)
}

/* ---------2 правильний варіант--------- */
.form-field:focus-within .drop-icon {}

/* ----------- */
.modal-form-input-desk {
    display: block;
    margin-top: 8px;
    margin-bottom: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #8E8F99;

}

.modal-form-input-desk:focus+.drop-icon>use {
    fill: var(--accent-focus)
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding-left: 38px;
    transition: border-color var(--time);
    outline: none;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition-property: border;
}

.modal-form-input:focus {
    outline: none;
    border-color: var(--accent-focus);

}

.input-text:focus {
    outline: none;
    border-color: var(--accent-focus);
    color: var(--accent-focus);
}

.input-text {
    width: 100%;
    height: 120px;
    padding: 15px;
    margin-bottom: 20px;
    resize: none;
    border-radius: 4px;
    transition: border-color var(--time);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
    border: 1px solid rgba(33, 33, 33, 0.2);
}


.input-text::placeholder {
    text-transform: unset;
}

.modal-form-submint:hover,
.modal-form-submint:focus {
    background-color: var(--hover-focus-color);
}

.modal-form-check {}

.modal-form-policy-check::before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    border: 1.25px solid #2E2F42;
    background-image: url(../images/icons.svg/vector-check.svg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: contain;
    color: rgba(46, 47, 66, 1);


}

/* -------CHECK ----------------*/
.modal-form-check:checked+.modal-form-policy-check::before {
    background-color: var(--accent-focus);
    fill: var(--accent-focus);
}


background-color: #31D0AA;

.modal-form-check-desk {
    display: flex;
    align-items: center;
    font-style: normal;
}

.modal-form-check-text {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #757575;
    margin-bottom: 24px;
    display: flex;
    padding-left: 8px;
}

.accept-policy-text {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #757575;
    padding-top: 16px;
    padding-bottom: 24px;
}

.modal-form-submint {

    color: var(--accent-color);
    background-color: var(--accent-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 169px;
    height: 56px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    align-content: center;
    letter-spacing: 0.04em;
    transition: background-color var(--time);
    border-color: transparent;

}

.modal-field {
    display: flex;
}

.madal-btn-drop {
    align-items: center;
    margin: auto;
    background-color: rgba(77, 90, 229, 1);
}

.modal-form-input-icon {
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translatey(-50%);
    transition: background-color var(--time);
}

.input-form-wrapper {
    position: relative;
    display: block;
}

.modal-form-input:focus+.modal-form-input-icon {
    fill: var(--accent-focus);
}

.drop-icon {

    fill: var(--tittle-body-color);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
}

.modal-form-input-icon:focus-within>.drop-icon {
    fill: #4D5AE5;
}



/* -----------SUBSCRIBE----------- */

.footer-title:hover .footer-title:focus {
    color: rgba(255, 255, 255, 1);
}


.footer-imput:focus {
    border-color: var(--accent-focus);
}

.footer-form {
    display: flex;
    width: 100%;
    height: 40px;
}

.footer-imput {
    background-color: transparent;
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;
    padding: 8px 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-title {
    color: var(--accent-color);
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    cursor: pointer;
}

.footer-subscribe {
    width: 453px;
    height: 80px;
}

.footer-form {
    display: flex;
    width: 100%;
    height: 40px;
}


.footer-imput::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 165px;
    height: 40px;
    background-color: var(--accent-focus);
    border: none;
    border-radius: 4px;
    color: var(--button-color);
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 24px;
    margin-left: 24px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--time);
}

.footer-btn-icon {
    width: 24px;
    height: 24px;
    fill: var(--accent-color);
}

.footer-btn:focus,
.footer-btn:hover {
    background-color: var(--hover-focus-color);

}

.media {
    margin-right: 80px;
}